@import "../../global/styles/mixins/responsive";

:host {
  display: block;
}

.pokemon-cards {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.pokemon-card {
  border: 1px solid rgba(0, 0, 0, 0.14);
  flex: 1;
  margin: 2px;

  & > &-header,
  & > &-footer {
    background-color: inherit;
    text-align: center;
    text-transform: uppercase;
  }

  & > &-header,
  & > &-body,
  & > &-footer {
    padding: 10px;
  }

  & > &-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;

    > span {
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.pokemon-card-button {
  background-color: var(--color-info);
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}
